.post {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  border-color: rgb(239, 243, 244);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.post:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.postWrapper {
  display: flex;
  flex-direction: row;
}

.postUserSection {
  margin-right: 16px;
  width: inherit;
}
.postUserImage {
  display: inline-block;
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 26px;
  overflow: hidden;
}
.postUserImage img {
  border-radius: 26px;
}
